body{
  box-sizing: border-box;
  background:#dce1dd;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  max-width: 80%;
  margin: auto;
}

.app-title{
  text-align: center;
  color:#2c1b14;
  font-size: 70px;
}

.container{
  border: 5px solid #A17554;
  border-radius: 25px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
}

.container-items {
  max-width: 80%;
  margin: auto;
  text-align: center;
  padding: 30px;
}

input {
  height: 40px;
  border-radius: 5px;
}

.btn{
  background:#A17554;
  margin: 20px;
  border-radius: 5px;
}

.add-btn{
  background:#2c1b14;
  width: 40px;
  height: 40px;
  margin: 25px;
  border-radius: 5px;
}

.material-icons{
  color: #fff;
  font-size: 24px;
} 



